{% extends "./base.html" %}
{% load humanize %}
{% load crispy_forms_tags %}
{% block body %}
<div class="row">
    <div class="col-md-3">
        <h4>Filters</h4>
        <div class="card p-3 mt-3">
            <form>
                {{form | crispy }}
                <button class="btn btn-outline-success w-100 fw-bold">
                    <i class="bi bi-search"></i> Search
                </button>
            </form>
        </div>
    </div>

    <div class="col-md-9">
        {% for deal in deals %}
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title border-bottom pb-1"><i class="bi bi-fire text-{{deal.get_heat_class}}"></i> {{deal.title}}</h5>
                <h6 class="card-subtitle mb-2 pt-1 text-muted">
                    <span class="badge bg-dark"><i>Value:</i> ${{deal.get_value|floatformat:2|intcomma }} </span>
                    <span class="badge bg-success"><i>Commission:</i> ${{deal.get_commission|floatformat:2|intcomma }} </span>
                </h6>
                <p class="card-text">
                    {{deal.description}}
                </p>
                <a href="{% url 'deal_bids' deal.pk %}" class="btn btn-sm btn-{{deal.get_heat_class}} fw-bold"><i class="bi bi-fire"></i> Place bid</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}